.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  background: #ebf3ff;
  border-right: solid 0.5px #8ca0bf;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  width: 19px;
  top: 27px;
  bottom: 32px;
  left: 20px;
  right: 21px;
  height: 1px;
  background: #0d3a7f;
}

.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0d3a7f;
}

.nav-toggle span:before {
  top: -5px;
}

.nav-toggle span:after {
  bottom: -5px;
}

@media (max-width: 375px) {
  .nav-toggle {
    display: block;
  }

  .header {
    height: 60px;
  }

  .logo {
    width: 256px;
    &__image {
      width: 108px;
      height: 44px;
      margin: 7px 20px 9px;
    }
  }

  .menu {
    width: 59px;
    &__list {
      display: none;
    }
  }

  .menu-services {
    &__item {
      display: none;
      &--dark-blue {
        display: flex;
        width: 59px;
        height: 60px;
        position: relative;

        &::after {
          display: block;
          position: absolute;
          top: 18.5px;
          left: 37px;
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 30px;
          background-color: #43d9d1;
        }
      }
    }
  }

  .main {
    display: none;
  }
}
