.header {
  display: flex;
  height: 89px;
}

.logo {
  width: 478px;
  background-color: #ebf3ff;
  svg {
    margin: 18px 131px 18px;
  }
}

.menu {
  display: flex;
  flex: 1 1;
  width: 478px;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
  }

  &-services__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 262px;
  }
}
