.header {
  display: flex;
  height: 89px;
}

.logo {
  width: 478px;
  background-color: #ebf3ff;
  &__image {
    margin: 18px 131px 18px;
  }
}

.menu {
  display: flex;
  flex: 1 1;
  width: 478px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.83;
    letter-spacing: 0.6px;
    color: #364459;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.menu-services {
  &__list {
    display: flex;
    width: 262px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 89px;
    border-left: solid 0.5px #8ca0bf;
    &:hover {
      cursor: pointer;
    }

    &--dark-blue {
      background-color: #0d3a7f;
    }
  }
}

.main {
  display: flex;
  &__left-side-block {
    height: 581px;
    width: 478px;
    background-color: #0d3a7f;
  }

  &__right-side-block {
    height: 581px;
    // flex: 1 1;
    width: 888px;
    background-image: url("../img/jasper-van-der-meij-unsplash.png");
  }
}
