// PixelPerfect - width: 1385px

$fontLibreFranklin: 'Libre Franklin', sans-serif;

$aliceblue: #ebf3ff;
$white: #fff;
$bluey-grey: rgba(140, 160, 191, 0.7);
$darkslategray: #364459;
$dark-blue: #0d3a7f;

.wrapper {
  width: 1112px;
  height: 100%;
  margin: 0 auto;
}

 /* Header */

.navbar {
  position: relative;
  max-width: 100vw;
  height: 89px;
  background-color: $aliceblue;

  .navbar__header {
    display: flex;
    align-items: center;
    height: 89px;

    .logo {
      display: flex;
      align-items: center;

      img {
        padding-left: 5px;
      }
    }

    .button {
      display: none;
    }
  }

  .navbar__nav {
    display: flex;
    position: absolute;
    top: 0;
    left: calc(50% - 205px);
    width: calc(50% + 205px);
    height: 89px;
    background-color: $white;

    .list {
      display: flex;
      align-items: center;
      width: 100%;

      .item {
        list-style-type: none;
        &:nth-child(1) {
          padding-left: 89px;
        }
        &:nth-child(2) {
          padding-left: 83px;
        }
        &:nth-child(3) {
          padding-left: 74px;
        }

        .link {
          font-family: $fontLibreFranklin;
          font-size: 12px;
          font-weight: 600;
          line-height: 1.83;
          letter-spacing: 0.6px;
          color: $darkslategray; 
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      &--icons {
        width: auto;

        .item {
          position: relative;
          height: 89px;
          border-left: solid 0.5px $bluey-grey;

          &:nth-child(1) {
            width: 88px;
          }
          &:nth-child(2) {
            width: 88px;
          }
          &:nth-child(3) {
            width: 87px;
          }

          &:hover {
            cursor: pointer;
          }

          &--dark-blue {
            background-color: $dark-blue;
          }
        }

        .phone-icon {
          &::after {
            content: url("../img/call-icon.svg");
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .account-icon {
          &::after {
            content: url("../img/account.svg");
            width: 12px;
            height: 19px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .account-cart {
          &::after {
            content: url("../img/cart-icon.svg");
            width: 20px;
            height: 19px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

 /* Section: Intro */
.intro {
  position: relative;
  max-width: 100vw;
  height: 100%;
  background-color: $dark-blue;
  margin-bottom: 57px;
}

.main {
  display: flex;
  position: relative;
  height: 581px;

  &__left-side-block {
    width: 478px;
    background-color: #0d3a7f;
  }

  &__right-side-block {
    padding: 206px 308px 0 287px;
    width: 888px;
    background-image: url("../img/jasper-van-der-meij-unsplash.png");
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 127px;
    background-color: #fff;
    box-shadow: 0 6px 21px 0 rgba(140, 160, 191, 0.24);
  }
}

.sidebar {
  padding: 95px 16px 184px 130px;

  &__header {
    position: relative;
    h1 {
      position: relative;
      font-family: "Libre Franklin", sans-serif;
      font-size: 48px;
      font-weight: 300;
      color: #ffffff;
      z-index: 1;
    }
  }

  &__gradient {
    position: absolute;
    top: 10px;
    left: 144px;
    opacity: 0.39;
    width: 195px;
    height: 44px;
    background-image: linear-gradient(to right, #16c2b8, rgba(22, 194, 184, 0));
  }

  &__text {
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 0.7px;
    color: #ffffff;
    padding-top: 15px;
  }

  &__button {
    padding-top: 29px;
    button {
      width: 218px;
      height: 65px;
      background-color: #16c2b8;
      font-family: "Libre Franklin", sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 2;
      letter-spacing: 0.6px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      border: 0;
      cursor: pointer;
    }
  }

  &__footer {
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.83;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding-top: 11px;
    a {
      color: #16c2b8;
      text-decoration: none;
    }
  }
}

.slider {
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 87px;
    background-color: #317b6c;
  }

  &__title {
    opacity: 0.42;
    font-family: "Libre Franklin", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ffffff;
  }

  &__content {
    opacity: 0.65;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.41px;
    color: #ffffff;
    line-height: 0.9;
  }

  &__switch {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 123px;
    margin: 0 93px;
  }

  &__diamond {
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    margin-right: 5px;
    transform: rotate(-45deg);

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    &--active {
      background-color: #fff;
    }
  }
}

.choice-location {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 89px;
    border-left: solid 0.3px #8ca0bf;

    &:nth-child(1) {
      width: 606px;
    }
    &:nth-child(2) {
      width: 207px;
    }
    &:nth-child(3) {
      width: 210px;
    }
    &:nth-child(4) {
      width: 89px;
      display: flex;
      align-items: center;
      background-color: #16c2b8;
      cursor: pointer;
    }
  }

  &__icon {
    margin-left: 24px;
    margin-bottom: -5px;
  }

  &__text {
    margin-left: 10px;

    p {
      font-family: "Libre Franklin", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.57;
      letter-spacing: 0.47px;
      color: #364459;
    }

    &--input {
      display: none;
      border: none;
      font-family: "Libre Franklin", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.57;
      letter-spacing: 0.47px;
      margin-bottom: 5px;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        opacity: 0.29;
        color: #364459;
      }
    }
  }

  &__arrow {
    background: #fff;
    height: 1px;
    width: 40px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      background: #fff;
      position: absolute;
      height: 1px;
      width: 20px;
    }

    &:before {
      right: -6px;
      bottom: -7px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -6px;
      top: -7px;
      transform: rotate(45deg);
    }
  }
}

.footer {
  height: 57px;
}

@media screen and (max-width: 1112px) {
  .wrapper {
    width: 100%;
    z-index: 1;
  }

  .navbar {
    height: 100%;

    .navbar__header {
      height: 60px;

      .logo {
        border-left: solid 1px $bluey-grey;
        height: 55px;
        position: relative;

        img {
          width: 108px;
          height: 44px;
          position: absolute;
          top: 7px;
          left: 19px;
        }
      }
    }

    .navbar__nav {
      display: none;
    }
  }
}
