.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  background: #ebf3ff;
  border-right: solid 0.5px #8ca0bf;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 19px;
    top: 27px;
    bottom: 32px;
    left: 20px;
    right: 21px;
    height: 1px;
    background: #0d3a7f;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 1px;
      background: #0d3a7f;
    }

    &:before {
      top: -5px;
    }

    &:after {
      bottom: -5px;
    }
  }
}

@media (max-width: 375px) {
  .nav-toggle {
    display: block;
  }

  .header {
    height: 60px;
  }

  .logo {
    width: 256px;
    &__image {
      width: 108px;
      height: 44px;
      margin: 7px 20px 9px;
    }
  }

  .menu {
    width: 59px;
    &__list {
      display: none;
    }
  }

  .menu-services {
    &__item {
      display: none;
      &--dark-blue {
        display: flex;
        width: 59px;
        height: 60px;
        position: relative;

        &::after {
          display: block;
          position: absolute;
          top: 18.5px;
          left: 37px;
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 30px;
          background-color: #43d9d1;
        }
      }
    }
  }

  .main {
    display: block;
    height: 717px;

    &__left-side-block {
      position: relative;
      width: 375px;
      height: 717px;
      background-image: url("../img/jasper-van-der-meij-unsplash-mobile.png");

      .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 101px 67px 0 61px;

        &__header {
          h1 {
            font-size: 36px;
            letter-spacing: 0.9px;
            text-align: center;
          }
        }

        &__gradient {
          top: 0px;
          left: 113px;
        }

        &__text {
          width: 247px;
          height: 51px;
          overflow: hidden;
          text-align: center;
          padding-top: 7px;
        }
      }
    }

    &__right-side-block {
      display: none;
    }

    &__footer {
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 335px;
      height: 239px;
      background-color: #fff;
      box-shadow: none;
    }
  }

  .choice-location {
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0px 0 0 18px;
      border-left: 0;

      &:nth-child(1) {
        padding: 0px 0 0px 27px;
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(3) {
        width: 100%;
      }
      &:nth-child(4) {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }

    &__text {
      p {
        margin-bottom: 5px;
      }

      &--input {
        border: none;
        font-family: "Libre Franklin", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: 0.47px;
        margin-bottom: 5px;

        &:focus {
          outline: none;
        }

        &::-webkit-input-placeholder {
          opacity: 0.29;
          color: #364459;
        }
      }
    }

    &__arrow {
      width: 30px;
    }
  }

  .footer {
    display: none;
  }
}
